.nav--wrapper {
  background-color: $m-dark;
  box-shadow: 0px 2px 7px -2px $m-jet;
  height: 2 * $spacer;
  display: flex;
  align-items: center;
  padding: 0.5 * $spacer;

}

.nav-home-text {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
